*{
	padding: 0;
	margin: 0;
}

body{
	
	font-size: 103%;

}
header{
	background-color: #ffa31a;
	padding: 1%;
	margin: 0; 
	font-size: 174%;
}

header li{
	font-family: Centaur;
}
/* INDEX PAGE */
.index-img{
	width: 99.4%;
	margin: 0.25%;
}

.links a{
	display: block;
	background-color: red;
	text-decoration: none;
	font-size: 240%;
	text-align: center;
	color: white;
	padding: 8%;
	font-weight: bold;
	font-family: montserrat, sans-serif;
	background-image: linear-gradient(to bottom right, red, orange);
	margin: 1% 0 1% 0;
	border-radius: 1.5%;
	
}

.links a:hover{
	opacity: 80%;
	
	color: black;
}

.links{
	margin: 2%;

}
/* for every other page */


.list img{
	width:100%;
	max-height: 70vh;
		}
p{
	font-family: montserrat,helvetica,sans-serif;
	margin:1.5%;
		}
h2{
	padding: 1.2%;
	font-family: helvetica,arial,sans-serif;
}
em{
	color: grey;
}
.listlinks{
	overflow: auto;
	white-space: nowrap;
	background-color: #333;
}

.listlinks a{
	display: inline-block;
	text-align: center;
	padding: 4%;
	text-decoration: none;
	font-size: 150%;

}
h1{
	font-family: Arial;
	margin: 1%;
}
.listhead{
	text-align: center;
	font-size: 200%;

}

.intro{
	font-size: 120%;
}

.logo{
	color: red;
}

@media all and (min-width: 760px){
  
  .list{
  	padding: 20%;
  }

}
